<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xljk.mapper.Sheet1Mapper">
    
    <resultMap type="Sheet1" id="Sheet1Result">
        <result property="title"    column="title"    />
        <result property="time"    column="time"    />
        <result property="text"    column="text"    />
        <result property="from"    column="from"    />
    </resultMap>

    <sql id="selectSheet1Vo">
        select title, time, text, from from Sheet1
    </sql>

    <select id="selectSheet1List" parameterType="Sheet1" resultMap="Sheet1Result">
        <include refid="selectSheet1Vo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="time != null  and time != ''"> and time = #{time}</if>
            <if test="text != null  and text != ''"> and text = #{text}</if>
            <if test="from != null  and from != ''"> and from = #{from}</if>
        </where>
    </select>
    
    <select id="selectSheet1ByTitle" parameterType="String" resultMap="Sheet1Result">
        <include refid="selectSheet1Vo"/>
        where title = #{title}
    </select>
        
    <insert id="insertSheet1" parameterType="Sheet1">
        insert into Sheet1
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="time != null">time,</if>
            <if test="text != null">text,</if>
            <if test="from != null">from,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="time != null">#{time},</if>
            <if test="text != null">#{text},</if>
            <if test="from != null">#{from},</if>
         </trim>
    </insert>

    <update id="updateSheet1" parameterType="Sheet1">
        update Sheet1
        <trim prefix="SET" suffixOverrides=",">
            <if test="time != null">time = #{time},</if>
            <if test="text != null">text = #{text},</if>
            <if test="from != null">from = #{from},</if>
        </trim>
        where title = #{title}
    </update>

    <delete id="deleteSheet1ByTitle" parameterType="String">
        delete from Sheet1 where title = #{title}
    </delete>

    <delete id="deleteSheet1ByTitles" parameterType="String">
        delete from Sheet1 where title in 
        <foreach item="title" collection="array" open="(" separator="," close=")">
            #{title}
        </foreach>
    </delete>
</mapper>